<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Simple Social - User Login</h2>
    <nav>
        <a href="login">Login</a>
        <a href="logout">Logout</a>
        <a href="register">Register</a>
        <a href="app">Application</a>
    </nav>
    <form action="/login" method="POST">
        <label>Username</label>
        <input type="text" id="username" name="username"><br>
        <label>Password</label>
        <input type="text" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>

</body>
</html>