<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystic Reader</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/welcomePage.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/logo.ico">
</head>

<body class="d-flex text-center justify-content-center align-items-center min-vh-100 backgroundStyle hideOverflow ">

    <div class="d-flex text-center justify-content-center align-items-center flex-column">
        <h1>Mystic Reader</h1>
        <br>
        <p>Let the cards reveal your truth</p>

        <hr class="w-75" style="align-self: center;" />
        <br>

        <div class="d-flex gap-3">
            <button type="button" class="btn btn-mysticBox" data-bs-toggle="modal" data-bs-target="#exampleModal">Login
                /
                Register</button>

            <button type="button" class="btn btn-mysticBox" data-bs-toggle="modal" data-bs-target="#AboutUs">What
                is
                this?!</button>
        </div>
    </div>


    <!-- Login / Register Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content ">
                <div class="modal-body backgroundStyle">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center min-vh-100">
                        <div class="d-flex gap-1 flex-md-row flex-column gap-md-5">
                            <form action="/login" method="POST" class="d-flex flex-column">
                                <div class="mb-2 d-flex flex-column align-items-center">
                                    <label>Username</label>
                                    <input type="text" id="username" name="username" class="dataEntry">
                                </div>
                                <div class="mb-2 d-flex flex-column align-items-center" > 
                                    <label>Password</label>
                                    <input type="password" id="password" name="password" class="dataEntry">

                                </div>
                                <div class="mb-2 d-flex flex-column align-items-center">
                                    <input type="submit" class="btn btn-mysticBox" value="Login">
                                </div>
                            </form>

                            <form action="/register" method="POST">
                                <div class="mb-2 d-flex flex-column align-items-center">
                                    <label>Username</label>
                                    <input type="text" id="username" name="username" class="dataEntry">
                                </div>
                                <div class="mb-2 d-flex flex-column align-items-center">
                                    <label>Password</label>
                                    <input type="password" id="password" name="password" class="dataEntry">
                                </div>
                                <div class="mb-2 d-flex flex-column align-items-center">
                                    <label>Box ID</label>
                                    <input type="text" id="boxID" name="boxID" class="dataEntry">
                                </div>
                                <div class="mb-2 d-flex flex-column align-items-center">
                                    <input type="submit" class="btn btn-mysticBox" style="border: 0px !important;"
                                        value="Register">
                                </div>
                            </form>
                        </div>

                        <button type="button" class="btn btn-mysticBox mt-md-3" style="margin-top: 0vh;"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- About Us Modal -->

    <div class="modal fade" id="AboutUs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content ">
                <div
                    class="modal-body backgroundStyle d-flex flex-column align-items-center justify-content-center text-center min-vh-100">
                    <div style="max-width: 500px; width: 100%;" class="p-4">
                        <h2>A Box To Read Your Future</h2>
                        <p>Tarot readings are a type of divination that have links back to 15th century Italy, using a
                            pack
                            of 78 special cards, each with their own assigned meanings.</p>
                        <p>The Tarot Box is a physical box that allows you to do a tarot reading and then submit it to
                            this
                            website, allowing you to track your previous readings and write journal entries! </p>
                        <button type="button" class="btn btn-mysticBox" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>