<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h2>Mystic Reader</h2>

    <p>Let the cards reveal your truth</p>


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
    <button></button>


    <!-- Login / Register Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <!-- <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->
                <div class="modal-body">
                    <form action="/login" method="POST">
                        <label>Username</label>
                        <input type="text" id="username" name="username"><br>
                        <label>Password</label>
                        <input type="password" id="password" name="password"><br>
                        <input type="submit" value="Login">
                    </form>

                    <form action="/register" method="POST">
                        <label>Username</label>
                        <input type="text" id="username" name="username"><br>
                        <label>Password</label>
                        <input type="text" id="password" name="password"><br>
                        <input type="submit" value="Register">
                    </form>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div> -->
            </div>
        </div>
    </div>



    <!-- About Us Modal -->




</body>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>