.btn-mysticBox{
    background: linear-gradient(144deg,rgba(159, 118, 130, 0.8) 0%, rgba(158, 118, 130, 0.8) 100%);
    color: white;
}

.modal{
    overflow: hidden;
}

.modal.fade .modal-dialog {
    transform: scale(1);
    opacity: 0;
    filter: blur(5px);
    transition: all 0.35s ease;
}
.modal.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
}